body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #b71a4c;
}
.front-indicator {
	width: 145px;
	margin: 5px 32px 15px 32px;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; /* Módosítás: középre igazítás vízszintesen */
    align-items: flex-end;
    background: white;
    padding-bottom: 2%;
}

.booking-details {
	float: left;
	text-align: left;
	margin-left: 10px;
	font-size: 10px;
	position: relative;
	max-height: 25%;
	min-height:25%;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 17px;
	width: 17px;
	line-height: -9px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 22px;
}
div.seatCharts-seat.available {
	background-color:  #d97c08;

}
div.seatCharts-seat.available.simple {
/* 	background: url(vip.png); */
	background-color: #3a78c3;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #2c8165;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34;
}
div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: auto;
    min-width: 221px;
    padding: 10px;
    float: left;
}
.screening-details{
	margin-left:10px;
	padding-left: 100px;
	padding:5px;

}

.movie-details{
	padding:5px;
	border-left: 1px dotted #adadad;
	border-right: 1px dotted #adadad;
}

.movie-poster {
    background-color: red;
    height: 23vh;
	align-self: center;
	margin-right: 10%;
	margin-left: 10%;
}

div.seatCharts-legend {
	padding-left: 0px;
	position: inherit;
	bottom: 0;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 0px;
	line-height: 20px;
}

.checkout-button {
    display: inline;
    margin: 10px 0;
    padding: 2px;
    font-size: 14px;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    max-height: min-content;
    margin-left: 2px;
    background-color: rgba(255, 68, 0, 0.78);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.7s ease;
}
.disabled-button {
	cursor: not-allowed;
  }

.checkout-button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255 69 0 / 60%);
    background-color: #fff;
    color: rgb(255 69 0 / 60%);
    transition: all 0.7s ease;
}

.checkout-button:not(:hover) {
    transition: all 0.7s ease;
}


#selected-seats {
	max-height: 60px;
	overflow-y: scroll;
	overflow-x: none;
	width: 220px;
}

.canvas-icon{
	text-align: center;
    height: 20px;
    border:  2px solid rgb(255 69 0 / 60%);
    }