.header-wrapper {
    background-color:rgb(24 ,86 ,108 , 92%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .header-contact {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
  }
  
  .header-contact i {
    color: white;
    margin-right: 10px;
    color: white;
  }
  
  .header-contact span {
    color: white;
    margin-right: 20px;
  }
  
  .header-social {
   color: white;
  display: flex;
  flex: 0 0 10%;
  justify-content: flex-end;
  margin-right: 20px;
  }
  
  .header-social a {
    color: white;
    margin-right: 20px;
  }
  
  .header-social i {
    color: white;
    font-size: 18px;
  }