nav {
    background-color: #ffffff;
    color:#4c4c4c; 
    
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;;
    }
    
    nav li {
    float: left;
    }
    
    nav a {
    color: #4c4c4c; 
    padding: 5px;
    }
    
    nav li a {
    display: block;
    color:#4c4c4c; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    }
    
    nav a:hover {
    text-decoration:underline;
    color:black;
    }
    