nav {
    background-color: #ffffff;
    color:#4c4c4c; 
    
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;;
    }
    
    nav li {
    float: left;
    }
    
    nav a {
    color: #4c4c4c; 
    padding: 5px;
    }
    
    nav li a {
    display: block;
    color:#4c4c4c; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    }
    
    nav a:hover {
    text-decoration:underline;
    color:black;
    }

    select {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        border:  2px solid rgb(255 69 0 / 60%);
        margin: 15px;
        box-sizing: border-box;
      }
      #movie_selector {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  border:  2px solid rgb(255 69 0 / 60%);
  box-sizing: border-box;
  border: 2px solid transparent;
}

#movie_selector:focus {
  outline: none;
  border-color: #000;
}