@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.welcome-message {
  position: relative;
  text-align: center;
  font-size: 72px;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  background: url("../assets/welcome_board_imgs/welcome_background.jpg") no-repeat center center ;
  background-size: cover;
  min-height: 65%;
  margin-bottom:130px;
<<<<<<< Updated upstream
  transition: backdrop-filter 0.5s;
  backdrop-filter: blur(0px);
  animation: blurAnimation 60s infinite;
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0px);
  }
  50% {
    backdrop-filter: blur(1000px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
=======
>>>>>>> Stashed changes
}

.welcome-message::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(54 38 9 / 67%);
  opacity: 3;
  z-index: 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: 2px solid rgb(255 69 0 / 60%);
  border-radius: 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.welcome-message .welcome-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.welcome-message .welcome-content p {
  margin: 0;
  font-size: 5rem;
}


.welcome-message .btn, p {
  position: relative;
  z-index: 1;
}

.btn:hover {
  background:rgba(255, 68, 0, 0.65);
  color: #000;
}

.one-liner-form {
  font-size: 12px;
  color: #000;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 18%;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 1;
}

.one-liner-form h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.one-liner-form form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  margin: 5px;
}

.one-liner-form form label {
  display: block;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.one-liner-form form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border:#000;
  border-width: 2px;
  margin: 15px;
  box-sizing: border-box;
}

.one-liner-form form input[type="submit"] {
  display: block;
  width: 40%;
  border-style:solid;
  border-width: 1px;
  border-color:rgba(255, 255, 255, 0);
  max-height: min-content;
  margin-left:2px;
  background-color:rgba(255, 68, 0, 0.78);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.7s ease;
}

.one-liner-form form input[type="submit"]:hover {
  border-style:solid;
  border-width: 1px;
  border-color:rgb(255 69 0 / 60%);
  background-color: #fff;
  color:rgb(255 69 0 / 60%);
      transition: all 0.7s ease;
}

.one-liner-form form input[type="submit"]:not(:hover) {
  transition: all 0.7s ease;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 13px;
}
.four-column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 4;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.double-row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 2;
}